In [1]:
from datasets import load_dataset
import pandas as pd
import numpy as np
import re, string, snowballstemmer
import contractions

In [2]:
ds = load_dataset("sh0416/ag_news")

In [3]:
ds_train = ds['train']
ds_test = ds['test']

In [4]:
type(ds_train), type(ds_test)

(datasets.arrow_dataset.Dataset, datasets.arrow_dataset.Dataset)

In [5]:
df_train = ds_train.to_pandas()
df_test = ds_test.to_pandas()

In [6]:
type(df_train), type(df_test)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [7]:
df_train.shape, df_test.shape

((120000, 3), (7600, 3))

In [8]:
df = pd.concat([df_train, df_test])

In [9]:
df.shape

(127600, 3)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127600 entries, 0 to 7599
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   label        127600 non-null  int64
 1   title        127600 non-null  object
 2   description  127600 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.9+ MB

In [11]:
df.head()

,label,title,description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [12]:
df.isnull().sum()

label          0
title          0
description    0
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.duplicated().sum()

0

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.sample(5)

,label,title,description
18485,2,Jimenez aims for two in a row,SPAIN #39;S Miguel Angel Jimenez leads the Eur...
6141,1,UK teacher wins US ultra-marathon,\A Cornish teacher claims one of sport's endur...
66028,1,Mbeki Ready to Present Ivory Coast Peace Propo...,"ABIDJAN, Ivory Coast (Reuters) - South Africa..."
27267,1,"No deal, but I #39;ll work for unity: Anwar",KUALA LUMPUR (AFP) - Malaysia #39;s former dep...
91068,2,Jaguar Racing sold to Red Bull,There will be at least 20 cars on the Formula ...

In [17]:
df = df.drop('title', axis = 1)

In [18]:
df.sample(5)

       label                                        description
99196      3  The ten-year deal is a major win for IBM #39;s...
65082      1   JERUSALEM (Reuters) - Opposition leader Shimo...
38715      1  FORT PIERCE, Fla. - Floridians scrambled to bo...
59790      4  A Russian-US expedition will take off Thursday...
48220      1  THE brother of Iraq hostage Ken Bigley was yes...

In [19]:
X = df['description']
y = df['label']

In [20]:
X.shape, y.shape

((127600,), (127600,))

In [21]:
PUNCTUATION_TRANSLATOR = str.maketrans('','',string.punctuation)

In [22]:
def normalize_document(document):
    document = document.lower()
    document = contractions.fix(document)
    document = document.translate(PUNCTUATION_TRANSLATOR)
    document = " ".join(document.split())
    return document

In [23]:
X = X.apply(normalize_document)

In [27]:
X.head()

0    reuters shortsellers wall streets dwindlingban...
1    reuters private investment firm carlyle groupw...
2    reuters soaring crude prices plus worriesabout...
3    reuters authorities have halted oil exportflow...
4    afp tearaway world oil prices toppling records...
Name: description, dtype: object